@import url("//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700");
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
/*
.include-media-test {
    @include media("<=min") {
        background-color: #def;

        &:before {
            content: "<=min";
        }
    }

    @include media(">min") {
        background-color: #abc;

        &:before {
            content: ">min";
        }
    }

    @include media(">=815px", "<max") {
        background-color: #fed;

        &:before {
            content: ">=815px, <max";
        }
    }

    @include media(">=max") {
        background-color: #fab;

        &:before {
            content: ">=max";
        }
    }

    @include media("retina2x") {
        &:after {
            content: "Retina" !important;
        }
    }
}
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  line-height: 1.3em;
  border: 0 none;
}

body {
  margin: 0 auto;
  font-size: 100%;
  line-height: 1.3em;
  font-family: "Spoqa Han Sans", "Apple SD Gothic", sans-serif;
  word-break: normal;
  text-size-adjust: 100%;
}

sub, sup {
  font-family: inherit;
}

.skip_nav {
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.skip_nav a {
  display: block;
  overflow: hidden;
  width: inherit;
  height: 0;
  margin: 0 auto;
  height: 1px;
  margin-bottom: -1px;
  white-space: nowrap;
  text-align: center;
  text-indent: -9999px;
}

.skip_nav a:focus,
.skip_nav a:active {
  height: 34px;
  padding: 1px;
  border-bottom: 2px solid #ebe8e7;
  background: #666;
  color: #333;
  font-weight: bold;
  font-size: 14px;
  text-indent: 0;
  line-height: 33px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  line-height: 1.1;
  font-weight: normal;
  margin: 0;
}

h2 {
  font-weight: 100;
  color: #ffffff;
}

h3 {
  font-weight: 100;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6,
figure, figcaption,
dt, dd, dl,
iframe,
fieldset {
  padding: 0;
  margin: 0;
}

iframe {
  border: 0;
}

address, em {
  font-style: normal;
}

em {
  font-weight: 500;
}

input, textarea, table, th, td, fieldset, button {
  background-color: inherit;
  font-size: inherit;
}

input[type='checkbox'] + label,
input[type='radio'] + label,
input[type="submit"],
button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th:first-letter,
table td:first-letter {
  text-transform: uppercase;
}

a {
  color: inherit;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

input[type="text"] {
  color: inherit;
  border-color: transparent;
}

input[type="email"]::placeholder {
  color: #999;
}

input[type='checkbox'] {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  visibility: hidden;
}

input[type='checkbox']:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

input[type='checkbox'] + label {
  transition: color 0.4s;
}

input[type='checkbox'] + label:before {
  content: '';
  vertical-align: calc((1em - 20px) / 2);
  display: inline-block;
  font-size: inherit;
  width: 1rem;
  height: 1rem;
  line-height: inherit;
  border-radius: 2px;
  margin-right: 0.6em;
  border: 1px solid #5d5d5d;
  transition: background 0.4s;
}

input[type='checkbox'] + label:hover,
input[type='checkbox']:checked + label {
  color: #ffffff;
}

input[type='checkbox']:checked + label:before {
  border-color: transparent;
  background: url("../image/check.svg") center center no-repeat #aa00ff;
}

button {
  color: inherit;
  border-color: transparent;
}

button[type='button'],
a.button,
input[type='submit'] {
  cursor: pointer;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  font-family: inherit;
  background-color: transparent;
  appearance: none;
  display: inline-block;
  line-height: 1.1;
  box-sizing: border-box;
  text-align: center;
  font-family: inherit;
  border-radius: 0;
  padding: 0;
}

button[type='button']:first-letter,
a.button:first-letter,
input[type='submit']:first-letter {
  text-transform: uppercase;
}

html, body {
  height: 100%;
}

div#elm-target {
  height: 100vh;
  box-sizing: border-box;
  min-width: 1260px;
  min-height: 580px;
}

body {
  color: #999;
  background-color: #161616;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 60;
}

nav {
  position: fixed;
  width: 60px;
  height: inherit;
  top: 64px;
  left: 0;
  z-index: 50;
}

footer {
  position: fixed;
  width: 60px;
  left: 0;
  bottom: 0;
  z-index: 50;
}

section.content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding-top: 64px;
}

nav ~ section.content {
  padding-left: 60px;
}

section.content main.index {
  height: inherit;
  box-sizing: border-box;
  max-width: 1560px;
  width: 80.425vw;
  min-width: 965px;
  padding: 42px;
}

@media (min-width: 1601px) {
  section.content main.index {
    margin-left: calc(300px);
  }
}

@media (min-width: 1281px) and (max-width: 1600px) {
  section.content main.index {
    padding: 2.425vw;
    margin-left: calc(18.75vw);
  }
}

@media (max-width: 1280px) {
  section.content main.index {
    padding: 27px;
    margin-left: 240px;
  }
}

section.content aside {
  position: relative;
  box-sizing: border-box;
  position: fixed;
  left: 60px;
  top: 64px;
  bottom: 0;
  max-width: 300px;
  min-width: 240px;
  width: 18.75vw;
}

aside {
  transition: transform 0.4s;
}

aside.shrink {
  transform: translateX(-100%);
}

main.index {
  transition: margin 0.4s;
}

aside.shrink + main.index {
  margin-left: 0;
}

header {
  background: #232323;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 0 32px;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  width: 95px;
  height: 20px;
  background: url("../image/logo-eoshub.svg#white") center center no-repeat transparent;
  background-size: contain;
}

header h1 a {
  display: inline-block;
  width: inherit;
  height: inherit;
  text-indent: -999em;
  overflow: hidden;
}

header div.language {
  margin-left: 48px;
  flex: 1;
}

header div.language button {
  margin: 0 8px;
  font-size: 14px;
  color: #5d5d5d;
}

header div.language button.selected {
  color: #fff;
}

header form {
  width: 332px;
  height: 40px;
  display: flex;
  background-color: #161616;
  align-items: center;
  border-radius: 20px;
  padding: 0 20px;
  font-size: 0.8125rem;
}

header form input {
  flex: 1;
  outline: 0;
  padding-left: 32px;
  background-image: url("../image/icon-search.svg#gray");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  height: 20px;
  line-height: 20px;
}

header form input:focus {
  background-image: url("../image/icon-search.svg#white");
}

header form button {
  outline: 0;
  height: inherit;
}

header form button:hover, header form button:active {
  color: #fff;
}

nav {
  background: #000;
}

nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  position: relative;
}

nav button, nav a {
  text-indent: -999em;
  overflow: hidden;
  outline: 0;
  display: block;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 22px;
}

nav button:hover, nav button.viewing, nav a:hover, nav a.viewing {
  background-color: #282828;
}

nav button:active, nav a:active {
  background-size: 20px 20px;
}

nav button.dashboard.toggle {
  background-color: #282828;
  background-image: url("../image/icon-menu-toggle.svg#expand");
}

nav button.dashboard.toggle.shrink {
  background-color: transparent;
  background-image: url("../image/icon-menu-toggle.svg#shrink");
}

nav button.dashboard.toggle:hover {
  background-color: #282828;
}

nav a.transfer {
  background-image: url("../image/icon-transaction.svg");
}

nav a.ram_market {
  background-image: url("../image/icon-server.svg");
}

nav a.vote {
  background-image: url("../image/icon-vote-circle.svg");
}

nav a.proxy_vote {
  background-image: url("../image/icon-vote-eoshub.svg");
}

nav a.dapps {
  background-image: url("../image/icon-application.svg");
}

nav span.tooltip {
  position: absolute;
  top: -999em;
  left: -999em;
}

nav button:hover + span.tooltip,
nav a:hover + span.tooltip {
  height: 30px;
  top: 50%;
  margin-top: -15px;
  left: 100%;
  white-space: nowrap;
  font-size: 0.875rem;
  background: #000;
  line-height: calc(30px - 2px * 2);
  border-radius: 5px;
  border: 2px solid #5d5d5d;
  padding: 0 15px;
}

nav button:hover + span.tooltip:before,
nav a:hover + span.tooltip:before {
  content: '';
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  margin-top: -5px;
  left: -7px;
  transform: rotate(-45deg);
  border-left-width: 2px;
  border-top-width: 2px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-style: solid;
  border-color: #5d5d5d;
  background: #000;
}

footer {
  background: #000;
  text-align: center;
  padding-bottom: 8px;
}

footer a.sns {
  display: block;
  width: 22px;
  height: 22px;
  margin: 12px auto;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

footer a.sns.medium {
  background-image: url("../image/bi-medium.svg");
}

footer a.sns.twitter {
  background-image: url("../image/bi-twitter.svg");
}

footer a.sns.telegram {
  background-image: url("../image/bi-telegram.svg");
}

aside {
  background-color: #282828;
  box-shadow: 4px 0 12px 0 rgba(0, 0, 0, 0.08);
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 0.875rem;
  color: #999;
}

@media (min-width: 1921px) {
  aside {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: 1281px) and (max-width: 1920px) {
  aside {
    padding-left: calc(20px + 0.5vw);
    padding-right: calc(20px + 0.5vw);
  }
}

@media (max-width: 1280px) {
  aside {
    padding-left: 20px;
    padding-right: 20px;
  }
}

aside h2 {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 100;
}

aside h2 + p {
  line-height: 1.43;
  margin: 20px 0;
  font-size: 0.875rem;
}

@media (max-width: 1549px) {
  aside h2 + p br {
    display: none;
  }
}

aside .btn_area {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

aside .btn_area a.button {
  line-height: 48px;
  flex: 0 0 49%;
  border-radius: 2px;
}

aside .btn_area a.button.login {
  background-image: linear-gradient(112deg, #ff5252, #aa00ff);
  color: #fff;
}

aside .btn_area a.button.join {
  border-width: 1px;
  border-color: #999;
}

@media (max-width: 1649px) {
  aside .btn_area {
    display: block;
    width: 100%;
  }
  aside .btn_area a.button {
    margin: 2px 0;
    display: block;
    width: 100%;
  }
}

aside .available_wallet_list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0;
  font-size: 0.875rem;
  border-bottom: 1px solid #5d5d5d;
}

aside .available_wallet_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #5d5d5d;
  padding-left: 40px;
  height: 72px;
}

aside .available_wallet_list li:first-letter {
  text-transform: uppercase;
}

aside .available_wallet_list li.scatter {
  background: url("../image/bi-scatter@2x.png") left center no-repeat transparent;
  background-size: 32px 32px;
}

aside .available_wallet_list li.nova {
  background: url("../image/bi-nova@2x.png") left center no-repeat transparent;
  background-size: 32px 32px;
}

aside .available_wallet_list button {
  font-size: inherit;
  color: #fff;
}

aside .available_wallet_list + a.go.link.wallet_sync {
  margin-top: 40px;
  display: block;
  line-height: 16px;
  height: 16px;
  padding-left: 20px;
  background: url("../image/icon-info-mark.svg") left center no-repeat;
  background-size: 16px 16px;
}

aside button.back {
  background: url("../image/icon-back.svg") left center no-repeat transparent;
  background-size: 12px 12px;
  line-height: 20px;
  height: 20px;
  margin-bottom: 21px;
  padding-left: 16px;
}

aside .wallet.status {
  margin: 44px -30px 0;
  padding: 0;
  color: #fff;
  background-color: #232323;
}

aside .wallet.status li {
  box-sizing: border-box;
  height: 102px;
  list-style-type: none;
  position: relative;
}

aside .wallet.status li:first-child {
  background-image: linear-gradient(113deg, #ff5252, #aa00ff);
}

aside .wallet.status li span {
  position: absolute;
}

aside .wallet.status li span.title {
  top: 20px;
  left: 24px;
  display: inline-block;
}

aside .wallet.status li span.title:first-letter {
  text-transform: uppercase;
}

aside .wallet.status li span.amount {
  font-size: 1.25rem;
  font-weight: 100;
  right: 24px;
  bottom: 20px;
}

aside .wallet.status li span.amount:after {
  content: 'EOS';
  font-size: 0.8125rem;
  display: inline-block;
  margin-left: 0.4em;
  vertical-align: text-bottom;
}

aside .wallet.status li span.status, aside .wallet.status li span.remaining.time {
  font-size: 0.8125rem;
  top: 22px;
  right: 24px;
}

aside .wallet.status li span.status:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 0.4em;
  vertical-align: baseline;
}

aside .wallet.status li span.status.available:before {
  background-color: #79c720;
}

aside .wallet.status li span.status.unavailable:before {
  background-color: #ff6b64;
}

aside button.resource.management {
  position: absolute;
  background: #000;
  height: 52px;
  line-height: 52px;
  color: #fff;
  border-radius: 2px;
  bottom: 24px;
  left: 16px;
  right: 16px;
  display: block;
  width: calc(100% - 16px * 2);
}

aside.log.off {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

aside.log.in h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

aside.log.in h2 span.description {
  display: block;
  color: #999;
  font-size: 0.875em;
  font-weight: 100;
}

main {
  box-sizing: border-box;
}

main.index .menu_area {
  margin: -6px;
}

main.index .menu_area .container {
  display: grid;
  grid-template-columns: 1fr repeat(2, 332px);
  grid-template-rows: repeat(2, 252px);
}

@media (min-width: 1281px) and (max-width: 1920px) {
  main.index .menu_area .container {
    grid-template-columns: 1fr repeat(2, 19.21875vw);
    grid-template-rows: repeat(2, 13.4375vw);
  }
}

@media (max-width: 1280px) {
  main.index .menu_area .container {
    grid-template-columns: 422px 1fr 1fr;
    grid-template-rows: repeat(2, 172px);
  }
}

main.index .menu_area .container > div,
main.index .menu_area .container > a {
  margin: 6px;
  display: block;
}

main.index .menu_area .container div.greeting {
  grid-row-start: 1;
  grid-row-end: 3;
}

main.index .menu_area .container a {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-position: 32px 32px;
  background-repeat: no-repeat;
  background-size: 22px 22px;
}

main.index .menu_area .container a.transfer {
  background-image: url("../image/icon-transaction.svg");
}

main.index .menu_area .container a.ram_market {
  background-image: url("../image/icon-server.svg");
}

main.index .menu_area .container a.vote {
  background-image: url("../image/icon-vote-circle.svg");
}

main.index .menu_area .container a.proxy_vote {
  background-image: url("../image/icon-vote-eoshub.svg");
}

main.index .menu_area h2 {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

main.index .menu_area h2:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

main.index .menu_area .container .greeting,
main.index .menu_area .container .card {
  background-color: #282828;
  box-sizing: border-box;
}

main.index .menu_area .container .greeting h3,
main.index .menu_area .container .card h3 {
  color: #ffffff;
}

main.index .menu_area .container .greeting p,
main.index .menu_area .container .card p {
  font-size: 0.875rem;
  margin: 0;
}

main.index .menu_area .container .greeting {
  padding: 48px;
  background-image: url("../image/bi-hubby-cutted.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 333px 300px;
}

@media (min-width: 1281px) and (max-width: 1920px) {
  main.index .menu_area .container .greeting {
    background-size: 16.84375vw auto;
  }
}

@media (max-width: 1280px) {
  main.index .menu_area .container .greeting {
    background-size: 209px 184px;
  }
}

main.index .menu_area .container .greeting h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}

main.index .menu_area .container .greeting p {
  margin-top: 8px;
}

main.index .menu_area .container .card {
  padding: 32px;
}

main.index .menu_area .container .card h3 {
  font-size: 1.25rem;
  line-height: 1.7;
}

main.index .dapps {
  position: relative;
  margin-top: 40px;
}

main.index .dapps h2 {
  font-size: 1.25rem;
  color: #ffffff;
  padding-left: 32px;
  background: url("../image/icon-application.svg") left center no-repeat;
  background-size: 22px 22px;
}

main.index .dapps h2 + p {
  font-size: 0.875rem;
}

main.index .dapps .rolling.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 240px;
  border-radius: 4px;
  background-image: linear-gradient(97deg, #d735df, #4239fc);
  color: #ffffff;
  margin-top: 24px;
}

main.index .dapps .container {
  display: none;
  margin-top: 12px;
  display: flex;
}

main.index .dapps .container a {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 120px;
  border-radius: 4px;
  background-color: #232323;
  box-sizing: border-box;
  margin: 0 6px;
  padding: 32px;
}

main.index .dapps .container a:first-child {
  margin-left: 0;
}

main.index .dapps .container a:last-child {
  margin-right: 0;
}

main.index .dapps .container a h3 {
  font-size: 1rem;
  color: #ffffff;
}

main.index .dapps .container a p {
  font-size: 0.875rem;
  margin: 0;
  color: #999;
}

main.index a.view.more {
  font-size: 0.875rem;
  text-align: right;
  color: #999;
  position: absolute;
  right: 0;
  top: 34px;
}

main.index a.view.more:before {
  content: '+ ';
}

main.join {
  /* namespace */
}

main.join h2 + p {
  line-height: 1.6;
  font-size: 0.875rem;
}

main.join input[type='email'],
main.join input[type='text'] {
  outline: 0;
  padding: 14px 0 14px 31px;
  border: 0;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  box-sizing: border-box;
}

main.join input[type='email'] {
  background: url("../image/icon-mail.svg") left center no-repeat;
}

main.join input[type='text'] {
  background: url("../image/icon-id-default.svg") left center no-repeat;
}

main.join div.btn_area {
  margin-top: 32px;
  display: flex;
}

main.join button[type="button"].button,
main.join a.button {
  flex: 1;
  outline: 0;
  display: inline-block;
  line-height: 50px;
  height: 52px;
  border-radius: 2px;
  font-size: 0.875rem;
}

main.join button[type="button"].button.purple,
main.join a.button.purple {
  background: #aa00ff;
  color: #ffffff;
}

main.join button[type="button"].button.pink,
main.join a.button.pink {
  background-image: linear-gradient(111deg, #ff606b, #ff1f90);
  color: #ffffff;
}

main.join button[type="button"].button.gray,
main.join a.button.gray {
  background-image: none;
  background-color: #282828;
}

main.join button[type="button"].button.mono,
main.join a.button.mono {
  border: 1px solid #999;
}

main.join button[type="button"].button:disabled,
main.join a.button:disabled {
  background-image: none;
  background-color: #282828;
}

main.join button[type="button"].button:last-child,
main.join a.button:last-child {
  margin-left: 8px;
}

main.join article {
  box-sizing: border-box;
}

main.join article[data-step="validate-email"],
main.join article[data-step="validate-email-ok"],
main.join article[data-step="copy-key-pair"],
main.join article[data-step="payment-info"],
main.join article[data-step="done"] {
  width: 400px;
}

main.join article[data-step="validate-email"],
main.join article[data-step="make-account"],
main.join article[data-step="copy-key-pair"],
main.join article[data-step="payment-info"],
main.join article[data-step="done"] {
  padding-top: 19vh;
}

main.join form span.validate {
  font-size: 0.875rem;
  height: 20px;
  background-size: 20px;
  padding-left: 28px;
  margin-top: 12px;
  display: block;
  visibility: hidden;
}

main.join form input[valid] + span.validate {
  visibility: visible;
  color: #79c720;
  background: url(../image/icon-check-circle.svg) left center no-repeat;
}

main.join form input[invalid] + span.validate {
  visibility: visible;
  color: #ff6b64;
  background: url(../image/icon-x-circle.svg) left center no-repeat;
}

main.join dl {
  margin: 40px 0 0;
  display: grid;
  grid-template-columns: 20% auto;
}

main.join dl dt, main.join dl dd {
  box-sizing: border-box;
  padding: 0 16px;
  line-height: 62px;
  font-size: 0.875rem;
  border-top: 1px solid #5d5d5d;
}

main.join dl dt:nth-of-type(1), main.join dl dd:nth-of-type(1) {
  border-top-width: 0;
}

main.join dl dt {
  background: #232323;
  text-align: center;
  color: #ffffff;
}

main.join dl dd {
  background-color: #282828;
  color: #999;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

main.join span[data-progress] {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 24px;
}

main.join span[data-progress]:after {
  content: '';
  display: inline-block;
  width: 46px;
  height: 10px;
}

main.join span[data-progress][data-progress="01"]:after {
  background: radial-gradient(circle at 5px, #ff5252 0, #aa00ff 5px, transparent 5px), radial-gradient(circle at center, #666 5px, transparent 5px), radial-gradient(circle at 40px, #666 5px, transparent 5px);
}

main.join span[data-progress][data-progress="02"]:after {
  background: radial-gradient(circle at 5px, #ff5252 0, #aa00ff 5px, transparent 5px), radial-gradient(circle at center, #ff5252 0, #aa00ff 5px, transparent 5px), radial-gradient(circle at 40px, #666 5px, transparent 5px);
}

main.join span[data-progress][data-progress="03"]:after {
  background: radial-gradient(circle at 5px, #ff5252 0, #aa00ff 5px, transparent 5px), radial-gradient(circle at center, #ff5252 0, #aa00ff 5px, transparent 5px), radial-gradient(circle at 40px, #ff5252 0, #aa00ff 5px, transparent 5px);
}

main.join article[data-step="validate-email"] form span.validate {
  font-size: 0.875rem;
  height: 20px;
  background-size: 20px;
  padding-left: 28px;
  margin-top: 12px;
  display: block;
  visibility: hidden;
}

main.join article[data-step="validate-email"] form input[valid] + span.validate {
  visibility: visible;
  color: #79c720;
  background: url(../image/icon-check-circle.svg) left center no-repeat;
}

main.join article[data-step="validate-email"] form input[invalid] + span.validate {
  visibility: visible;
  color: #ff6b64;
  background: url(../image/icon-x-circle.svg) left center no-repeat;
}

main.join article[data-step="validate-email"] p.exist_account {
  text-align: center;
  font-size: 0.875rem;
}

main.join article[data-step="validate-email"] p.exist_account a {
  color: #ffffff;
  margin-left: 0.6em;
  text-decoration: underline;
}

main.join article[data-step="validate-email"] p.exist_account a:visited {
  color: #aa00ff;
}

main.join article[data-step="validate-email-ok"] {
  height: calc(100vh - 64px);
  text-align: center;
  padding-top: 99px;
  background: url("../image/bi-hubby.svg#white") center calc(50% - 67px - 32px) no-repeat;
  background-size: 61px 67px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main.join article[data-step*="make-account"] form {
  margin-top: 104px;
}

main.join article[data-step="copy-key-pair"] textarea.hidden_copy_field {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}

main.join article[data-step="payment-info"] .select_payment_type.area {
  margin-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #5d5d5d;
  display: flex;
  align-items: center;
}

main.join article[data-step="payment-info"] .select_payment_type.area button.button {
  height: 36px;
  line-height: 34px;
  max-width: 96px;
  padding: 0;
  margin-right: 0.6em;
}

main.join article[data-step="payment-info"] .confirm.area {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main.join article[data-step="payment-info"] .confirm.area form label {
  font-size: 0.875rem;
}

main.join article[data-step="payment-info"] .confirm.area button.button {
  max-width: 136px;
}

main.join article[data-step="payment-info"] p.amount {
  flex: 1;
  text-align: right;
  margin: 0;
  font-size: 0.8125rem;
}

main.join article[data-step="payment-info"] p.amount strong {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 100;
  margin: 0 0.2em;
}

main.join article[data-step="payment-info"] dl.invoice {
  grid-template-columns: 30% auto;
  text-align: center;
}

main.join article[data-step="done"] {
  background: url("../image/bi-hubby.svg#pink") right calc(50% - 67px) no-repeat;
  background-size: 61px 67px;
}

/*# sourceMappingURL=style.css.map */
