<!-- 로그인 전후로 상태를 보여줌 -->


<!-- 연동 되어 있고 로그인 했음 -->
<aside class="log in">

	<h2>eosyskoreabp
		<span class="description">@owner</span>
	</h2>

	<div class="config panel">
		<button type="button" class="icon gear button" wai-aria="hidden">option</button>
		<div class="menu_list">
			<a href="#">지갑 변경하기</a>
			<a href="#">내 계정보기</a>
			<a href="create-account.html">계정생성</a>
			<a href="change-account-key.html">권한변경</a>
			<a href="#">로그아웃</a>
		</div>
	</div>
	<script>
		(function () {
			var handler = document.querySelector('div.config.panel button.gear'),
				target = document.querySelector('div.config.panel');

			handler.addEventListener('click',function () {
				target.classList.toggle('expand');
			});

			target.addEventListener('mouseleave',function () {
				target.classList.remove('expand');
			});
		})();
	</script>

	<ul class="wallet status">
		<li>
			<span class="title">total</span>
			<span class="amount">24.536.341</span>
		</li>
		<li>
			<span class="title">stake</span>
			<span class="amount">32.3812</span>
			<span class="status fine">트랜잭션 가능</span>
			<span class="status good">트랜잭션 가능</span>
			<span class="status bad">트랜잭션 가능</span>
			<span class="status hell">트랜잭션 불가능</span>
		</li>
		<li>
			<span class="title">refunding</span>
			<span class="amount">0</span>
			<span class="remaining time">72.3 hours</span>
		</li>
	</ul>

	<button type="button" class="resource management">리소스 관리</button>
</aside>
