<!-- 연동 안된 최초 로그인 시 -->
<aside class="log unsync">
	<button type="button" class="back button">뒤로가기</button>

	<h2>이오스 허브와 연동이<br />
		가능한 지갑입니다.</h2>
	<p>업데이트를 통해 연동가능한<br />
		지갑을 추가할예정이오니 조금만 기다려주세요!</p>

    <ul class="available_wallet_list">
        <li class="scatter">
            Scatter
            <button type="button">연동하기</button>
        </li>
        <li class="nova">
			NOVA
            <button type="button">연동하기</button>
        </li>
    </ul>

	<a href="#" class="go link wallet_sync">지갑연동방법 알아보기</a>
</aside>



