<!-- 로그인 전후로 상태를 보여줌 -->


<!-- 연동 되어 있고 로그인 했음 -->
<aside class="log in">

	<h2>eosyskoreabp
		<span class="description">@owner</span>
	</h2>

	<ul class="wallet status">
		<li>
			<span class="title">total</span>
			<span class="amount">24.536.341</span>
		</li>
		<li>
			<span class="title">stake</span>
			<span class="amount">32.3812</span>
			<span class="status available">트랜잭션 가능</span>
			<span class="status unavailable">트랜잭션 불가능</span>
		</li>
		<li>
			<span class="title">refunding</span>
			<span class="amount">0</span>
			<span class="remaining time">72.3 hours</span>
		</li>
	</ul>

	<button type="button" class="resource management">리소스 관리</button>
</aside>
