<!-- 로그인 전후로 상태를 보여줌 -->




<!-- 로그인 전 -->
<aside class="log off">
	<h2>이오스허브에<br />
		오신걸 환영합니다!</h2>
	<p>이오스 게정이 있으시면 로그인을,<br />
		처음이라면 신규 계정을 만들어주세요!</p>

	<div class="btn_area">
		<button type="button" class="login">로그인</button>
		<button type="button" class="join">신규계정 만들기</button>
	</div>
</aside>



<!-- 연동 안된 최초 로그인 시 -->
<aside class="log unsync">
	<button type="button" class="back button">뒤로가기</button>

	<h2>이오스 허브와 연동이 가능한 지갑입니다.</h2>
	<p>업데이트를 통해 연동가능한<br />
		지갑을 추가할예정이오니 조금만 기다려주세요!</p>

    <ul class="available_wallet_list">
        <li class="scatter">
            Scatter
            <button type="button">연동하기</button>
        </li>
        <li>
			NOVA
            <button type="button">연동하기</button>
        </li>
    </ul>

	<a href="#" class="go link">지갑연동방법 알아보기</a>
</aside>



<!-- 연동 되어 있고 로그인 했음 -->
<aside class="log in">

	<h2>eosyskoreabp
		<span class="description">@owner</span>
	</h2>

	<ul class="wallet status">
		<li>
			<span class="title">total</span>
			<span class="amount">24.536.341</span>
		</li>
		<li>
			<span class="title">stake</span>
			<span class="amount">32.3812</span>
			<span class="status available">트랜잭션 가능</span>
			<span class="status unavailable">트랜잭션 불가능</span>
		</li>
		<li>
			<span class="title">refunding</span>
			<span class="amount">0</span>
			<span class="remaining time">72.3 hours</span>
		</li>
	</ul>

	<button type="button" class="resource management">리소스 관리</button>
</aside>
