<main class="index">
	<section class="menu_area">
		<h2>Menu</h2>
		<div class="container">
			<div class="greeting event_free">
				<h3>이오스허브 X 이오스닥<br />
					무료계정 생성 이벤트</h3>
				<p><a href="#">무료 신규계정 만들러 가기</a></p>
			</div>
			<a href="resource-rental.html" class="card resource">
				<h3>리소스 관리</h3>
				<p>이오스 동작을 위한 리소스를 관리합니다.</p>
			</a>
			<a href="transfer.html" class="card transfer">
				<h3>전송하기</h3>
				<p>여기서 토큰을 보내실 수 있어요</p>
			</a>
			<a href="ram-market.html" class="card ram_market">
				<h3>RAM Market</h3>
				<p>램을 사고 팔 수 있어요</p>
			</a>
			<a href="vote.html" class="card vote">
				<h3>투표하기</h3>
				<p>이오스 홀더라면 투표하실 수 있어요.</p>
			</a>
		</div>
	</section>

	<!-- <section class="dashboard"> -->
		<!-- <h2>EOS Dashboard</h2> -->
		<!-- <p>실시간 이오스 메인넷 상황입니다.</p> -->

		<!-- <ul class="mainnet status"> -->
			<!-- <li> -->
				<!-- <strong>Producer</strong> -->
				<!-- <span>ATTILABEOSB</span> -->
			<!-- </li> -->
			<!-- <li> -->
				<!-- <strong>Head Block</strong> -->
				<!-- <span>Langchain</span> -->
			<!-- </li> -->
			<!-- <li> -->
				<!-- <strong>CurrentMax TPS</strong> -->
				<!-- <span>31 / 3996</span> -->
			<!-- </li> -->
			<!-- <li> -->
				<!-- <strong>EOS price</strong> -->
				<!-- <span>$5.75</span> -->
			<!-- </li> -->
		<!-- </ul> -->
	<!-- </section> -->
	<section class="promotion" data-display="1" data-max="3">
		<h3>AD</h3>
		<div class="rolling banner">

			<!-- dapp의 링크는 언어별로 다르게 걸려야됩니다. -->
			<!-- *DApp Development Contest* -->
			<!-- *KR:* https://medium.com/eosys/%EC%A0%9C1%ED%9A%8C-dapp-contest-3d0a9d1338a8 -->
			<!-- *EN:* https://medium.com/eosys/the-1st-dapp-contest-d2b714a90adc -->
			<!-- *CN:* https://medium.com/eosys/dapp-studio%E6%9D%AF%E9%A6%96%E5%B1%8A-dapp%E5%BC%80%E5%8F%91%E7%AB%9E%E9%80%89-2396e714e10a -->
			<a href="https://eosdaq.com" target="_blank" class="eosdaq">EOSDAQ</a>
			<a href="https://medium.com/eosys/%EC%A0%9C1%ED%9A%8C-dapp-contest-3d0a9d1338a8" target="_blank" class="dapp">Dapp contest</a>
			<!-- <a href="http://fuze.live" target="_blank" class="fuze">Two World meet, FUZE</a> -->
			<a href="http://eosnova.io/" target="_blank" class="nova">Yout first EOS wallet,NOVA Wallet</a>
		</div>
		<div class="banner handler">
			<!-- <button type="button" class="rotate banner circle button">Dapp contest banner</button> -->
			<!-- <button type="button" class="rotate banner circle button">Fuze banner</button> -->
			<button type="button" class="rotate banner circle button">EOSDAQ</button>
			<button type="button" class="rotate banner circle button">dapp contest</button>
			<button type="button" class="rotate banner circle button">NOVA</button>
		</div>
	</section>
	<script>
	// rolling banner demo script
	(function () {
		var button = document.querySelectorAll('.promotion .banner.handler button');
		var banner = document.querySelectorAll('.promotion .rolling.banner a');
		var target = document.querySelector('.promotion');
		var max = document.querySelector('.promotion').dataset.max;
		var timer = 7*1000;
		console.log(button,target);

		// 이제 롤링을 해야지?
		function interval () {
			if (target.dataset.display >= max) {
				target.dataset.display = 1;
			} else {
				target.dataset.display++;
			}
		}
		var rolling = setInterval(interval,timer)

		for (var i=0; i<button.length; i++) {
			(function (button,target,i) {
				banner[i].addEventListener('mouseover',function () {
					clearInterval(rolling);
				});
				banner[i].addEventListener('mouseout',function () {
					rolling = setInterval(interval,timer)
				});

				button[i].addEventListener('mouseover',function () {
					clearInterval(rolling);
					target.dataset.display = i+1;
				});
				button[i].addEventListener('mouseout',function () {
					rolling = setInterval(interval,timer)
				});
			})(button,target,i);
		}

	})();
	</script>
	<!-- <section class="dapps">                                                        -->
	<!--     <h2>최신 이오스 디앱</h2>                                           -->
	<!--     <p>업데이트되는 다양한 이오스 디앱들을 만나보세요</p> -->

	<!--     <div class="rolling banner">                                               -->
	<!--         Comming Soon                                                           -->
	<!--     </div>                                                                     -->


	<!--     <div class="container">                                                    -->
	<!--         <a href="">                                                            -->
	<!--             <h3>mycat</h3>                                                     -->
	<!--             <p>Langchain</p>                                                   -->
	<!--         </a>                                                                   -->
	<!--         <a href="">                                                            -->
	<!--             <h3>mycat</h3>                                                     -->
	<!--             <p>Langchain</p>                                                   -->
	<!--         </a>                                                                   -->
	<!--         <a href="">                                                            -->
	<!--             <h3>mycat</h3>                                                     -->
	<!--             <p>Langchain</p>                                                   -->
	<!--         </a>                                                                   -->
	<!--         <a href="">                                                            -->
	<!--             <h3>mycat</h3>                                                     -->
	<!--             <p>Langchain</p>                                                   -->
	<!--         </a>                                                                   -->
	<!--     </div>                                                                     -->

	<!--     <a href="#" class="view more">더 보기</a>                               -->
	<!-- </section>                                                                     -->

</main>

