<!DOCTYPE html>
<html lang="ko">
<head>
    <!--@@include = ./meta.html-->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">

    <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>

<div id="elm-target">
	<div>
		<!-- 타이틀과 검색 -->
		<!-- @@include = ./header.html -->

		<!-- 링크 6개 -->
		<!-- @@include = ./nav.html -->

		<section class="content">
			<!-- @@placeholder = aside -->
			<!-- @@placeholder = main -->
		</section>

		<!-- 로그인 전후로 나타내어야 됨 -->
		<!-- @@include = ./footer.html -->
	</div>
</div>
</body>
</html>
