<nav>
	<ul>
		<li>
			<button type="button" class="toggle dashboard" id="openAside">대쉬보드 열기/닫기</button>
			<span class="tooltip" aria-hidden="hidden">대쉬보드 열기 닫기</span>
		</li>
		<li>
			<a href="resource.html" rel="nofollow" class="resource">리소스 관리</a>
			<span class="tooltip" aria-hidden="hidden">리소스 관리</span>
		</li>
		<li>
			<!-- 현재 활성화된 페이지에 클래스 부여함 -->
			<a href="transfer.html" rel="nofollow" class="transfer viewing">전송하기</a>
			<span class="tooltip" aria-hidden="hidden">전송하기</span>
		</li>
		<li>
			<a href="ram-market.html" rel="nofollow" class="ram_market">Ram market</a>
			<span class="tooltip" aria-hidden="hidden">Ram Market</span>
		</li>
		<li>
			<a href="go-vote.html" rel="nofollow" class="vote">BP 투표하기</a>
			<span class="tooltip" aria-hidden="hidden">투표하기</span>
		</li>
		<li>
			<a href="go-dapp.html" rel="nofollow" class="dapps">dapps</a>
			<span class="tooltip" aria-hidden="hidden">Dapps</span>
		</li>
	</ul>
</nav>
<script>
(function () {
	document.addEventListener('DOMContentLoaded',function () {
		var handler = document.getElementById('openAside');
		var target = document.querySelector('aside');

		handler.addEventListener('click',function (){
			this.classList.toggle('shrink');
			target.classList.toggle('shrink');
		});
	});
})();
</script>
