<nav>
	<button type="button" class="toggle dashboard" id="openAside">대쉬보드 열기/닫기</button>
	<a href="go-transfer.html" rel="nofollow" class="transfer">전송하기</a>
	<a href="go-ram-market.html" rel="nofollow" class="ram_market">Ram market</a>
	<a href="go-vote.html" rel="nofollow" class="vote">BP 투표하기</a>
	<a href="go-proxy-vote.html" rel="nofollow" class="proxy_vote">대리투표</a>
	<a href="go-dapp.html" rel="nofollow" class="dapps">최신 이오스 디앱</a>
</nav>
<script>
(function () {
	document.addEventListener('DOMContentLoaded',function () {
		var handler = document.getElementById('openAside');
		var target = document.querySelector('aside');

		handler.addEventListener('click',function (){
			this.classList.toggle('shrink');
			target.classList.toggle('shrink');
		});
	});
})();
</script>
