// --------------------------------------------------------------------------------
// main section
// --------------------------------------------------------------------------------
main {
	// namespace
	box-sizing:border-box;
	padding:27px;
}







// --------------------------------------------------------------------------------
// main :: index view
// --------------------------------------------------------------------------------
main {
	.menu_area h2 {
		@include screen_reader();
	}
	.container {
		.greeting,
		.card {
			background-color:#282828;
		}
	}

}
