// --------------------------------------------------------------------------------
// main section
// --------------------------------------------------------------------------------
main {
	// namespace
	box-sizing:border-box;
}







// --------------------------------------------------------------------------------
// main :: index view
// --------------------------------------------------------------------------------
main.index {
	.menu_area {
		margin:-6px;
		.container {
			display:grid;
			grid-template-columns: 1fr repeat(2,332px);
			grid-template-rows: repeat(2,252px);

			@include media ('>1280px','<=1920px') {
				grid-template-columns: 1fr repeat(2,19.21875vw);
				grid-template-rows: repeat(2,13.4375vw);
			}

			@include media ('<=1280px') {
				grid-template-columns: 422px 1fr 1fr;
				grid-template-rows: repeat(2,172px);
			}

			> div,
			> a {
				margin:6px;
				display:block;
			}

			div.greeting {
				grid-row-start:1;
				grid-row-end:3;
			}

			a {
				display:flex;
				flex-direction:column;
				justify-content:flex-end;

				background-position:32px 32px;
				background-repeat:no-repeat;
				background-size:22px 22px;
			}

			a.transfer {
				background-image:url('../image/icon-transaction.svg');
			}

			a.ram_market {
				background-image:url('../image/icon-server.svg');
			}

			a.vote {
				background-image:url('../image/icon-vote-circle.svg');
			}

			a.proxy_vote {
				background-image:url('../image/icon-vote-eoshub.svg');
			}
		}
	}

}





// --------------------------------------------------------------------------------
// details :: index > menus
// --------------------------------------------------------------------------------
main.index .menu_area h2 {
	@include screen_reader();
}

main.index .menu_area .container {
	.greeting,
	.card {
		background-color:#282828;
		box-sizing:border-box;

		h3 {
			color:$white;
		}

		p {
			font-size:rem(14);
			margin:0;
		}
	}

	.greeting {
		padding:48px;
		background-image:url('../image/bi-hubby-cutted.svg');
		background-position:right bottom;
		background-repeat:no-repeat;
		background-size:333px 300px;

		@include media ('>1280px','<=1920px') {
			background-size:16.84375vw auto;
		}
		@include media ('<=1280px') {
			background-size:209px 184px;
		}


		h3 {
			font-size: rem(24);
			line-height: 1.25;
		}

		p {
			margin-top:8px;
		}
	}

	.card {
		padding:32px;

		h3 {
			font-size:rem(20);
			line-height:1.7;
		}

	}
}


// --------------------------------------------------------------------------------
// details :: index > dapps
// --------------------------------------------------------------------------------
main.index .dapps {
	margin-top:40px;

	h2 {
		font-size: rem(20);
		color: $white;
		padding-left:32px;
		background:url('../image/icon-application.svg') left center no-repeat;
		background-size:22px 22px;

		+ p {
			font-size:rem(14);
		}
	}

	.rolling.banner {
		display:flex;
		align-items:center;
		justify-content:center;
		height:240px;
		border-radius: 4px;
		background-image: linear-gradient(97deg, #d735df, #4239fc);
		color:$white;

		margin-top:24px;
	}

	.container {
		display:none;	// !!!!!! 임시임
		margin-top:12px;
		display:flex;

		a {
			flex:1;
			display:flex;
			justify-content:center;
			flex-direction:column;
			height:120px;
			border-radius:4px;
			background-color:#232323;
			box-sizing:border-box;
			margin:0 6px;
			padding:32px;

			&:first-child {
				margin-left:0;
			}

			&:last-child {
				margin-right:0;
			}

			h3 {
				font-size:rem(16);
				color:$white;
			}

			p {
				font-size:rem(14);
				margin:0;
				color:#999;
			}
		}

	}
}








// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------
// --------------------------------------------------------------------------------





// --------------------------------------------------------------------------------
// main :: join process
// --------------------------------------------------------------------------------

main.join { /* namespace */ }

// common asset
main.join {

	h2 + p {
		font-size:$small;
	}

	input[type='email'],
	input[type='text'] {
		outline: 0;
		padding: 14px 0 14px 31px;

		border: 0;
		border-bottom: 1px solid #e8e8e8;
		width: 100%;
		box-sizing: border-box;
	}

	input[type='email'] {
		background:url('../image/icon-mail.svg') left center no-repeat;
	}

	input[type='text'] {
		background:url('../image/icon-id-default.svg') left center no-repeat;
	}

	div.btn_area {
		margin-top:32px;
		display:flex;

		button.button {
			flex:1;
			outline:0;
			display:inline-block;

			line-height:50px;
			height: 52px;

			border-radius: 2px;

			font-size:$small;

			&.ok {
				background-image: $pink_gradient;
				color:$white;
			}

			&.copy {
				border:1px solid $white;
			}

			&:disabled {
				background-image:none;
				background-color: #282828;
			}

			&:last-child {
				margin-left:8px;
			}
		}
	}

	article {
		box-sizing:border-box;
	}


	article[data-step="validate-email"],
	article[data-step="validate-email-ok"],
	article[data-step="copy-key-pair"] {
		width:400px;
	}

	article[data-step="validate-email"],
	article[data-step="make-account"],
	article[data-step="copy-key-pair"] {
		padding-top:127px;
	}

	form {
		span.validate {
			font-size:$small;
			height:20px;
			background-size: 20px;
			padding-left: 28px;
			margin-top:12px;
			display:block;

			visibility:hidden;
		}

		input[valid] + span.validate {
			visibility:visible;
			color: #79c720;
			background: url(../image/icon-check-circle.svg) left center no-repeat;
		}

		input[invalid] + span.validate {
			visibility:visible;
			color: #ff6b64;
			background: url(../image/icon-x-circle.svg) left center no-repeat;
		}
	}

	span[data-progress] {
		display:flex;
		align-items:center;
		justify-content:space-between;
		font-size:$xx-large;
		font-weight: 100;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.19;
		letter-spacing: normal;
		color: #ffffff;
		margin-bottom:24px;

		&:after {
			content:'';
			display:inline-block;
			width:46px;
			height:10px;
		}

		&[data-progress="01"]:after {
			background:
			radial-gradient(circle at 5px, #ff5252 0, #aa00ff 5px, transparent 5px),
			radial-gradient(circle at center, #666 5px, transparent 5px),
			radial-gradient(circle at 40px, #666 5px, transparent 5px);
		}

		&[data-progress="02"]:after {
			background:
			radial-gradient(circle at 5px, #ff5252 0, #aa00ff 5px, transparent 5px),
			radial-gradient(circle at center, #ff5252 0, #aa00ff 5px, transparent 5px),
			radial-gradient(circle at 40px, #666 5px, transparent 5px);
		}

		&[data-progress="03"]:after {
			background:
			radial-gradient(circle at 5px, #ff5252 0, #aa00ff 5px, transparent 5px),
			radial-gradient(circle at center, #ff5252 0, #aa00ff 5px, transparent 5px),
			radial-gradient(circle at 40px, #ff5252 0, #aa00ff 5px, transparent 5px);
		}

	}
}




main.join {
	article[data-step="validate-email"] {
		form {
			span.validate {
				font-size:$small;
				height:20px;
				background-size: 20px;
				padding-left: 28px;
				margin-top:12px;
				display:block;

				visibility:hidden;
			}

			input[valid] + span.validate {
				visibility:visible;
				color: #79c720;
				background: url(../image/icon-check-circle.svg) left center no-repeat;
			}

			input[invalid] + span.validate {
				visibility:visible;
				color: #ff6b64;
				background: url(../image/icon-x-circle.svg) left center no-repeat;
			}
		}


		p.exist_account {
			text-align:center;
			font-size:$small;

			a {
				color:$white;
				margin-left:0.6em;
				text-decoration:underline;

				&:visited {
					color:$purple;
				}
			}
		}
	}

	article[data-step="validate-email-ok"] {
		height:calc(100vh - #{$header_height});
		text-align:center;

		padding-top:67px + 32px;
		background:url('../image/bi-hubby.svg#white') center calc(50% - 67px - 32px) no-repeat;
		background-size:61px 67px;

		display:flex;
		flex-direction:column;
		justify-content:center;

	}

	article[data-step*="make-account"] {
		form {
			margin-top:104px;
		}
	}

	article[data-step="copy-key-pair"] {
		dl.keybox {
			margin:40px 0 0;

			display:grid;
			grid-template-columns:20% auto;

			dt,dd  {
				box-sizing:border-box;
				padding:0 16px;
				line-height:62px;
				font-size:$small;
				margin-top:1px;
			}

			dt {
				background:#232323;
				color:$white;
			}

			dd {
				background-color:#282828;
				color:#999;
				overflow-x:hidden;
				text-overflow:ellipsis;
			}
		}

		textarea.hidden_copy_field {
			border: 0;
			clip: rect(1px, 1px, 1px, 1px);
			clip-path: inset(50%);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute !important;
			width: 1px;
			word-wrap: normal !important;
		}
	}
}


